<ul class="sidebar-menu" data-current-route="{{ app.request.get('_route') }}">

    {% if app.user.hasRole('ROLE_ADMIN') %}
        <li data-route="admin_app_company_list" class="first"><a href="{{ path('admin_app_company_list') }}"><i
                        class="fa fa-angle-double-right"></i>Client Company</a>
        </li>
    {% elseif app.user.hasRole('ROLE_CLIENT_ADMIN') or app.user.hasRole('ROLE_CS_ADMIN') %}
        <li class="last treeview"><a href="#"><i class="fa fa-folder"></i><span>System Management</span><i
                        class="fa pull-right fa-angle-left"></i></a>
            <ul class="active treeview-menu menu_level_1" style="display: none;">

                {#<li class="first"><a href="{{ path('admin_app_claim_list') }}"><i#}
                {#class="fa fa-angle-double-right"></i>Claim</a>#}
                {#</li>#}

                <li data-route="admin_app_company_list"><a href="{{ path('admin_app_company_list') }}"><i
                                class="fa fa-angle-double-right"></i>Company Management</a>
                </li>

                <li data-route="admin_app_costcentre_list"><a href="{{ path('admin_app_costcentre_list') }}"><i
                                class="fa fa-angle-double-right"></i>Cost Centre Management</a>
                </li>

                <li data-route="admin_app_region_list"><a href="{{ path('admin_app_region_list') }}"><i
                                class="fa fa-angle-double-right"></i>Region Management</a>
                </li>

                <li data-route="admin_app_branch_list"><a href="{{ path('admin_app_branch_list') }}"><i
                                class="fa fa-angle-double-right"></i>Branch Management</a>
                </li>
                <li data-route="admin_app_department_list"><a href="{{ path('admin_app_department_list') }}"><i
                                class="fa fa-angle-double-right"></i>Department Management</a>
                </li>
                <li data-route="admin_app_section_list"><a href="{{ path('admin_app_section_list') }}"><i
                                class="fa fa-angle-double-right"></i>Section Management</a>
                </li>
                <li data-route="admin_app_paycode_list"><a href="{{ path('admin_app_paycode_list') }}"><i
                                class="fa fa-angle-double-right"></i>Company Pay Code Management</a>
                <li data-route="admin_app_taxrate_list"><a href="{{ path('admin_app_taxrate_list') }}"><i
                                class="fa fa-angle-double-right"></i>Tax Rate Management</a>
                </li>
                <li data-route="admin_app_claimtype_list"><a href="{{ path('admin_app_claimtype_list') }}"><i
                                class="fa fa-angle-double-right"></i>Claim Type Management</a>
                </li>
                <li data-route="admin_app_currencyexchange_list"><a
                            href="{{ path('admin_app_currencyexchange_list') }}"><i
                                class="fa fa-angle-double-right"></i>Currency Exchange Management</a>
                </li>
                <li data-route="admin_app_claimcategory_list"><a href="{{ path('admin_app_claimcategory_list') }}"><i
                                class="fa fa-angle-double-right"></i>Claim Category Management</a>
                </li>

                <li data-route="admin_app_companyclaimpolicies_list"><a
                            href="{{ path('admin_app_companyclaimpolicies_list') }}"><i
                                class="fa fa-angle-double-right"></i>Claim Policies Management</a>
                </li>


                <li data-route="admin_app_approvalamountpolicies_list"><a
                            href="{{ path('admin_app_approvalamountpolicies_list') }}"><i
                                class="fa fa-angle-double-right"></i>Approval Policies Management</a>
                </li>


                <li data-route="admin_app_employeetype_list"><a href="{{ path('admin_app_employeetype_list') }}"><i
                                class="fa fa-angle-double-right"></i>Employee Type Management</a>
                </li>


                <li data-route="admin_app_employmenttype_list"><a href="{{ path('admin_app_employmenttype_list') }}"><i
                                class="fa fa-angle-double-right"></i>Employment Type Management</a>
                </li>

                <li data-route="admin_app_category_list"><a href="{{ path('admin_app_category_list') }}"><i
                                class="fa fa-angle-double-right"></i>Claims Limit Rules</a>
                </li>

                <li data-route="admin_app_checker_list"><a href="{{ path('admin_app_checker_list') }}"><i
                                class="fa fa-angle-double-right"></i>Checker Grouping</a>
                </li>

            </ul>

        </li>
    {% elseif app.user.hasRole('ROLE_HR_ADMIN') %}
        <li data-route="admin_app_company_show" class="first"><a
                    href="{{ path('admin_app_company_show',{'id':app.user.company.id}) }}"><i
                        class="fa fa-angle-double-right"></i>My Company</a>
        </li>
        <li data-route="admin_app_company_position_list" class="last"><a
                    href="{{ path('admin_app_company_position_list',{'id':app.user.company.id}) }}"><i
                        class="fa fa-angle-double-right"></i>My Employees</a>
        </li>
    {% endif %}
    <li class="last treeview"><a href="#"><i class="fa fa-folder"></i><span>My Claims</span><i
                    class="fa pull-right fa-angle-left"></i></a>
        <ul class="active treeview-menu menu_level_1" style="display: none;">
            <li data-route="admin_app_claim_create"><a href="{{ path('admin_app_claim_create') }}"><i
                            class="fa fa-angle-double-right"></i>New Claims</a>
            </li>
            <li data-route="admin_app_claim_list"><a href="{{ path('admin_app_claim_list') }}"><i
                            class="fa fa-angle-double-right"></i>Claims Summary</a>
            </li>
        </ul>
    </li>
    {% if isShowMenuForChecker(app.user.loginWithPosition) %}
        <li data-route="admin_app_position_list" class="last"><a
                    href="{{ path('admin_app_position_list',{'type':'checking'}) }}"><i
                        class="fa fa-angle-double-right"></i>Claims For Checking</a>
        </li>
    {% endif %}
</ul>

<script>
    $(document).ready(function () {
        console.log(1);
        var currentRote = $('.sidebar-menu').data('current-route');
        $('.sidebar-menu li').each(function () {
            var route = $(this).data('route');
            if (route == currentRote) {
                $(this).addClass('active');
                $(this).parents('ul').show();
                return;
            }
        });
    });
</script>