{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}

    {% if object.claimMedias|length %}
        <div class="row show-image">
            {% set url = getUrlMedia(object.claimMedias[0].media,'default','default_medium') %}
            <a href="javascript:void(0)" data-toggle="modal" data-target=".bs-example-modal-lg">
                <img data-rotate="0" class="img-rotate" src="{{ url }}">
            </a>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">
                                Image Claim
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div id="viewer2" class="viewer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row link-image">
            {% for claimMedia in object.claimMedias %}
                <a href="javascript:void(0);" class="{{ loop.index == 1 ? 'active-image':'' }}"
                   data-url="{{ getUrlMedia(claimMedia.media,'default','default_medium') }}"
                   data-url-big="{{ getUrlMedia(claimMedia.media) }}">Image {{ loop.index }}</a>
                <br>
            {% endfor %}
        </div>
    {% else %}
        None
    {% endif %}

    <script>
        $(function () {

            var iv2 = $("#viewer2").iviewer(
                    {
                        src: "/uploads/media/default/0001/01/thumb_75_default_medium.jpeg"
                    });


        });
        $(function () {
            $('.link-image a').click(function () {
                var url = $(this).data('url');
                var urlBig = $(this).data('url-big');
                $('.link-image a').removeClass('active-image');
                $(this).addClass('active-image');
                $('.show-image a img').attr('src', url);
                $('.show-image .modal img').attr('src', urlBig);
            });
        });

    </script>
    <style>
        .viewer {
            /*width: 50%;*/
            text-align: center;
            height: 500px;
            border: 1px solid black;
            position: relative;
        }

        .active-image {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
{% endblock %}
