<p>Dear {{ approver.firstName ~' '~ approver.lastName }}, <p>
<p>You have <strong>[{{ resultApproverNotification|length }}]</strong> employee require your approval their claims</p>
<ul>
    {% for position in resultApproverNotification %}
        <li class=""><a
                    href="{{ url('admin_app_claim_list', {'type':'approving-each-position','position-id':position.id}) }}"><strong>{{ position.firstName ~' ' ~ position.lastName }}</strong>
                has {{ getNumberClaimEachEmployeeForApprover(position,approver) }}
                claims
                require your approval</a></li>
    {% endfor %}

</ul>
<p>*** This is an automated notification, please do not reply to this email. For technical support please contact your HR Department directly or support@magentapulse.com</p>

<p>Best Regards,</p>

<p>Magenta Consulting Team</p>