<p>Dear {{ approver.firstName ~' '~ approver.lastName }}, <p>
<p><strong>[{{ resultApproverNotification|length }}]</strong> employees have claim submissions requiring your action.</p>
<ul>
    {% for position in resultApproverNotification %}
        <li class=""><a
                    href="{{ url('admin_app_claim_list', {'type':'approving-each-position','position-id':position.id}) }}"><strong>{{ position.firstName ~' ' ~ position.lastName }}</strong>
                has {{ getNumberClaimEachEmployeeForApprover(position,approver) }}
                claim(s) requiring your [Approval]</a></li>
    {% endfor %}

</ul>
<p>*** This is an automated notification, please do not reply to this email. For technical support please contact your HR Department directly or support@magentapulse.com</p>

<p>Best Regards,</p>

<p>Magenta Consulting Team</p>