{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <div class="row" style="border-bottom: 1px solid #f4f4f4; margin-bottom: 10px;padding-bottom: 10px;">
        ###RULE ###<br>
        {{ getLimitAmount(object) }}
        <br>###APPROVER###<br>
        <div class="col-md-2">
            1
        </div>
        <div class="col-md-10">
            {% if object.approver and object.approver.approver1 %}
                Name: {{ object.approver.approver1.firstName }}<br>
                Employee No: {{ object.approver.approver1.employeeNo }}<br>
                COmpany: {{ object.approver.approver1.company.name }}<br>
            {% else %}
                None
            {% endif %}
        </div>

    </div>
    <div class="row" style="border-bottom: 1px solid #f4f4f4; margin-bottom: 10px;padding-bottom: 10px;">
        <div class="col-md-2">
            2
        </div>
        <div class="col-md-10">
            {% if object.approver and  object.approver.approver2 %}
                Name: {{ object.approver.approver2.firstName }}<br>
                Employee No: {{ object.approver.approver2.employeeNo }}<br>
                COmpany: {{ object.approver.approver2.company.name }}<br>
            {% else %}
                None
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;padding-bottom: 10px;">
        <div class="col-md-2">
            3
        </div>
        <div class="col-md-10">
            {% if object.approver and  object.approver.approver3 %}
                Name: {{ object.approver.approver3.firstName }}<br>
                Employee No: {{ object.approver.approver3.employeeNo }}<br>
                COmpany: {{ object.approver.approver3.company.name }}<br>
            {% else %}
                None
            {% endif %}
        </div>
    </div>
    ###CHECKER ###<br>
    <div class="row" style=" margin-bottom: 10px;padding-bottom: 10px;">

        <div class="col-md-2">
            1
        </div>
        <div class="col-md-10">
            {% if object.checker and object.checker.checker %}
                Name: {{ object.checker.checker.firstName }}<br>
                Employee No: {{ object.checker.checker.employeeNo }}<br>
                COmpany: {{ object.checker.checker.company.name }}<br>
            {% else %}
                None
            {% endif %}
        </div>

    </div>
{% endblock %}
