{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <div class="row" style="border-bottom: 1px solid #f4f4f4; margin-bottom: 10px;padding-bottom: 10px;">
        ###LIMIT AMOUNT ###<br>
        {{ getLimitAmount(object,object.position) }}
        <br>###APPROVER###<br>

        {% for history in object.approverHistories %}
            <div class="col-md-10">
                <strong>Email: {{ history.approverPosition.email }}</strong> <br>
                Employee No: {{ history.approverPosition.employeeNo }}<br>
                Company: {{ history.approverPosition.company.name }}<br>
                Date
                Approved: {{ history.createdAt|date('d M Y H:i:s') }}
            </div>
        {% endfor %}

        <div class="col-md-10">
            {% if object.approver and object.approverEmployee and object.status != 'APPROVER_APPROVED' and object.status != 'PROCESSED' %}
                <strong>Email: {{ object.approverEmployee.email }}</strong> <br>
                Employee No: {{ object.approverEmployee.employeeNo }}<br>
                Company: {{ object.approverEmployee.company.name }}<br>
                Date Approved: N/A
            {% else %}
                {% if object.status != 'PROCESSED' %}
                None
                {% endif %}
            {% endif %}
        </div>

        {% set nextApprover = object.nextApproverToAssign %}
        {% set approverAfterNext = object.approverAfterNextToAssign %}
        {% if nextApprover is not empty %}
            <div class="col-md-10">
                {% set approverEmployee = nextApprover['approverEmployee'] %}
                <strong>Email: {{ approverEmployee.email }}</strong> <br>
                Employee No: {{ approverEmployee.employeeNo }}<br>
                Company: {{ approverEmployee.company.name }}<br>
                Date Approved: N/A
            </div>
        {% endif %}

        {% if approverAfterNext is not empty %}
            <div class="col-md-10">
                {% set approverEmployee = approverAfterNext['approverEmployee'] %}
                <strong>Email: {{ approverEmployee.email }}</strong> <br>
                Employee No: {{ approverEmployee.employeeNo }}<br>
                Company: {{ approverEmployee.company.name }}<br>
                Date Approved: N/A
            </div>
        {% endif %}


    </div>
    ###CHECKER ###<br>
    <div class="row" style=" margin-bottom: 10px;padding-bottom: 10px;">

        <div class="col-md-10">
            {% if object.checker and object.checker.checker %}
                <strong>Email: {{ object.checker.checker.email }}</strong><br>
                Employee No: {{ object.checker.checker.employeeNo }}<br>
                Company: {{ object.checker.checker.company.name }}<br>
                Date Checked: {{ object.status == 'CHECKER_APPROVED' ? object.checkerUpdatedAt|date('d M Y H:i:s'):'N/A' }}
            {% else %}
                None
            {% endif %}
        </div>

    </div>
{% endblock %}
