{% extends '::admin/standard_layout.html.twig' %}



      {% block sonata_breadcrumb %}
          <div class="navbar-left">
              <div class="hidden-xs">
                  <ol class="nav navbar-top-links breadcrumb">
                      <li>
                          <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
                      </li>
                      <li>
                          <a href="{{ path('admin_app_claim_excelReport') }}">Processed Claims</a>
                      </li>
                      <li class="active"><span>Claims Report Summary</span></li>
                  </ol>
              </div>
          </div>
      {% endblock sonata_breadcrumb %}
{% block sonata_admin_content %}
    <div>
        <div class="row">

            <div class="col-xs-12 col-md-12 ">
                <div class="box box-primary">
                    <div class="box-body">
                        <form class="sonata-filter-form form-horizontal "
                              action="{{ path('admin_app_claim_excelReport') }}" method="GET" role="form">

                            <input type="hidden" name="type" value="hr">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="filter_claim_period_value" class="col-sm-3 control-label">Claim
                                            Period</label>

                                        <div class="col-sm-4">
                                            <select id="filter_claim_period_value" name="filter[claim_period][value]"
                                                    placeholder="Name, Email, Employee No, NRIC/Fin"
                                                    class=" form-control">
                                                <option value=""></option>
                                                {% for key,period in periods %}
                                                    <option {{ from == key ? 'selected':'' }}
                                                            value="{{ key }}">{{ period }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-3 text-center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                        </button>

                                        <a class="btn btn-default" href="{{ path('admin_app_claim_excelReport') }}">
                                            Reset
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                <div class="box box-primary" style="margin-bottom: 100px;">
                    <div class="box-header">
                        <div style="text-align: center">
                            <h4 class="box-title">
                                <small>{{ app.user.loginWithPosition.company.name }}</small>
                                <br>
                                <p style="border-top: 1px solid black; margin-top: 10px;"></p>
                                <strong>Claims Report Summary (Processed)
                                </strong><br><br>
                                <a href="{{ path('admin_app_claim_formatPayMaster',{'filter':app.request.get('filter')}) }}"
                                   class="btn btn-primary">
                                    Generate for PayMaster
                                </a>
                            </h4>
                        </div>
                        <a href="{{ path('admin_app_claim_excelReportExport',{'from':from}) }}"
                           class="btn btn-default">
                            Dowload
                        </a>
                    </div>
                    <div class="box-body table-responsive no-padding">


                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header-text ">Emp No.</th>
                                <th class="sonata-ba-list-field-header-text ">Name</th>
                                <th class="sonata-ba-list-field-header-text ">Company</th>
                                <th class="sonata-ba-list-field-header-text ">Cost Centre Code</th>
                                <th class="sonata-ba-list-field-header-text ">Employment Type</th>
                                <th class="sonata-ba-list-field-header-text ">Employee Type</th>
                                <th class="sonata-ba-list-field-header-text ">Region</th>
                                <th class="sonata-ba-list-field-header-text ">Branch</th>
                                <th class="sonata-ba-list-field-header-text ">Section</th>
                                <th class="sonata-ba-list-field-header-text ">Date/Time Processed</th>
                                <th class="sonata-ba-list-field-header-text ">Total Claim Amount</th>
                                <th class="sonata-ba-list-field-header-text ">Action</th>

                            </tr>
                            </thead>

                            <tbody>
                            {% for position in data %}
                                <tr>
                                    <td>{{ position.employeeNo }}</td>
                                    <td>{{ position.firstName ~' ' ~position.lastName }}</td>
                                    <td>{{ position.company.name }}</td>
                                    <td>{{ position.costCentre ? position.costCentre.code :'N/A' }}</td>
                                    <td>{{ position.employmentType ? position.employmentType.code :'N/A' }}</td>
                                    <td>{{ position.employeeType ? position.employeeType.code :'N/A' }}</td>
                                    <td>{{ position.region ? position.region.code :'N/A' }}</td>
                                    <td>{{ position.branch ? position.branch.code :'N/A' }}</td>
                                    <td>{{ position.section ? position.section.code :'N/A' }}</td>
                                    <td>{{ getProcessedDate(from,position) }}</td>
                                    <td>{{ getTotalAmountClaimEachEmployeeForHrReport(position,from)|number_format(2, '.', ',') }}</td>
                                    <td><a class="btn btn-sm btn-default"
                                           href="{{ path('admin_app_claim_list', {'type':'hr-report-each-position','position-id':position.id,'filter':app.request.get('filter')}) }}">Detail</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>


                    </div>
                    <div class="box-footer">


                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}