{% extends 'AppBundle:SonataAdmin:standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div>



        <div class="col-md-6">
            <div class="cms-block cms-block-element">

                <div class="box">
                    <div class="box-header" style="text-align: center;">
                        <h3 class="box-title">{{ app.user.loginWithPosition.firstName ~ ' ' ~ app.user.loginWithPosition.lastName }}
                        </h3><br>
                        <small>{{ app.user.loginWithPosition.company.name }}
                        </small>
                    </div>
                    <div class="box-body">
                        <a href="{{ path('admin_app_claim_list',{'type':'current'}) }}" style="width: 100%;" class="btn btn-success"
                           type="submit" name=""> Current Claims <br>
                            <small>Period {{ getCurrentClaimPeriod('to')| date('d M Y') }} -  {{ getCurrentClaimPeriod('to')| date('d M Y') }}
                            </small>
                        </a>
                        <a href="{{ path('admin_app_claim_list',{'type':'draft'}) }}" style="width: 100%;margin-top: 5px;" class="btn btn-default" type="submit"
                           name=""> Draft Claims
                            <br>
                            <small>Period {{ getCurrentClaimPeriod('to')| date('d M Y') }} -  {{ getCurrentClaimPeriod('to')| date('d M Y') }}
                            </small>
                        </a>
                        <a href="{{ path('admin_app_claim_list',{'type':'reject'}) }}" style="width: 100%;margin-top: 5px;" class="btn btn-default" type="submit"
                           name=""> Rejected Claims <strong style="color:red">( 1 )</strong>
                            <br>
                            <small>Period {{ getCurrentClaimPeriod('to')| date('d M Y') }} -  {{ getCurrentClaimPeriod('to')| date('d M Y') }}
                            </small>
                        </a>
                        <a href="{{ path('admin_app_claim_list') }}" style="width: 100%;margin-top: 5px;" class="btn btn-default" type="submit"
                           name=""> Past Claims
                            <br>
                            <small>
                                All claim from the first
                            </small>
                        </a>

                    </div>
                </div>


            </div>

        </div>


        <div class="col-md-6">
        </div>
    </div>
{% endblock %}