{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% import 'SonataAdminBundle:CRUD:base_show_macro.html.twig' as show_helper %}

{%- block actions -%}
    <li><a class="sonata-action-element"
           href="{{ path('admin_app_claim_list',{'type':'approving-each-position','position-id':object.position.id}) }}"><i
                    class="fa fa-list" aria-hidden="true"></i>
            Return to list</a></li>
{%- endblock -%}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <div class="hidden-xs">
            <ol class="nav navbar-top-links breadcrumb">
                <li>
                    <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_app_position_list',{'type':'approving'}) }}">Claims For Approval
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_app_claim_list',{'type':'approving-each-position','position-id':object.position.id}) }}">{{ getNameUser(object.position.id) }}</a>
                </li>
                <li class="active"><span>Show</span></li>
            </ol>
        </div>
    </div>
{% endblock sonata_breadcrumb %}

{% block show %}
    <div class="alert alert-warning">
        {% if object.firstApprovalCompleted is not empty %}
            Please Approve this Claim Submission
        {% endif %}

        {% if object.checker is empty %}
            {% if object.firstApprovalPending is not empty %}
                Please Check and Verify this Claim Submission.
            {% endif %}
        {% else %}
            {# the condition is met only when the Checker has approved the Claim so, checked by always has a value #}
            {% if object.firstApprovalCompleted is empty %}
                Please Approve this Claim Submission
            {% endif %}
            - <code>Checked</code> by
            <strong>{{ object.checker.checker.firstName ~ object.checker.checker.lastName }}</strong> -
            <code>{{ object.checker.checker.email }}</code>
        {% endif %}

        {% if object.firstApprovalCompleted is not empty %}
            - Last <code>Checked</code>/<code>Approved</code> by
            <strong>{{ object.approverHistories.last.approverPosition.firstName ~ object.approverHistories.last.approverPosition.lastName }}</strong> -
            <code>{{ object.approverHistories.last.approverPosition.email }}</code>
        {% endif %}
    </div>

    {% if isExceedLimitRule(object,object.position) %}
        {% set remarksRequired = 'required="required"' %}
        <div class="alert alert-warning">
            {{ object.position.firstName }} has been approved ${{ getTotalClaimAmountForEmployee(object,object.position) }} SGD which already exceeded the limit. Approval Remarks are required.
        </div>
    {% else %}
        {% set remarksRequired = '' %}
    {% endif %}

    <div class="sonata-ba-view">
        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% set has_tab = (admin.showtabs|length == 1 and admin.showtabs|keys[0] != 'default') or admin.showtabs|length > 1 %}

        {% if has_tab %}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for name, show_tab in admin.showtabs %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>
                                {{ name|trans({}, show_tab.translation_domain ?: admin.translationDomain) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for code, show_tab in admin.showtabs %}
                        <div
                                class="tab-pane fade{% if loop.first %} in active{% endif %}"
                                id="tab_{{ admin.uniqid }}_{{ loop.index }}"
                        >
                            <div class="box-body  container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if show_tab.description != false %}
                                        <p>{{ show_tab.description|raw }}</p>
                                    {% endif %}

                                    {{ show_helper.render_groups(admin, object, elements, show_tab.groups, has_tab) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif admin.showtabs is iterable %}
            {{ show_helper.render_groups(admin, object, elements, admin.showtabs.default.groups, has_tab) }}
        {% endif %}

    </div>

    <div class="sonata-ba-view">
        <div class="box box-primary">
            {% if isExceedLimitRule(object,object.position) %}
                <div class="box-header">
                    <h4 class="box-title">
                        Approver Remarks
                    </h4>
                </div>
            {% endif %}
            <div class="box-body">
                {% if isShowApproveRejectApproverButtonForClaim(object) %}
                    <form method="post" action="{{ path('admin_app_claim_show',{'id':admin.id(object)}) }}">
                        <div class="sonata-ba-field sonata-ba-field-standard-natural" style="margin-bottom: 10px;">
                                <textarea {{ remarksRequired }} placeholder="Approver Remarks" name="approver-remark"
                                                                class=" form-control">{{ object.checkerRemark }}</textarea>
                        </div>
                        <div class="sonata-ba-form-actions well well-small form-actions">
                            <button type="submit" class="btn btn-success" name="btn_approver_approve" value="1">
                                Approve
                            </button>
                            <button type="submit" class="btn btn-danger" name="btn_approver_reject" value="1"> Reject
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}

