{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet"
                  href="{{ asset('themes/homer/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css') }}"/>
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('themes/homer/vendor/moment/moment.js') }}"></script>
            <script src="{{ asset('themes/homer/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js') }}"></script>
            <script type="text/javascript">
                $(function () {
                    $(".datepicker").datepicker({autoclose: true});
                });
            </script>
            <script type="text/javascript">
                $(function () {
                    // When sport gets selected ...
                    $claimType = $('.claim-type')
                    $claimType.change(function () {
                        var $form = $(this).closest('form');
                        var data = {};
                        data[$claimType.attr('name')] = $claimType.val();
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            data: data,
                            success: function (html) {
                                $('.claim-category').replaceWith(
                                        $(html).find('.claim-category')
                                );
                            }
                        });
                    });
                });
            </script>
        {% endblock %}
 {% block sonata_page_content_header %}

 {% endblock %}
            {% block sonata_tab_content %}
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header" style="text-align: center">
                                <h4 class="box-title">
                                    {{ app.user.loginWithPosition.firstName ~' '~ app.user.loginWithPosition.lastName }}
                                    <br>
                                    <small>{{ app.user.loginWithPosition.company.name }}</small>
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if app.request.attributes.get('_route') == 'admin_app_claim_create' %}
                                        {{ form_row(form.claimType ,{'attr': {'class': 'claim-type'}}) }}
                                        {{ form_row(form.claimCategory,{'attr': {'class': 'claim-category'}}) }}
                                    {% elseif app.request.attributes.get('_route') == 'admin_app_claim_edit' %}
                                        {{ form_row(form.claimMedias) }}
                                        {{ form_row(form.claimAmount) }}
                                        {{ form_row(form.receiptDate) }}
                                        {{ form_row(form.taxRate) }}
                                        {{ form_row(form.taxAmount) }}
                                        {% if object.claimType.code == 'Overseas' %}
                                            {{ form_row(form.currencyExchange) }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endblock %}
  {% block formactions %}
      <div class="row" style="text-align: center">
          <div class="col-md-12 well">
          {% block sonata_form_actions %}
              {% if app.request.attributes.get('_route') == 'admin_app_claim_create' %}
                  {% set nameBtn = 'btn_create_and_edit' %}
              {% else %}
                  {% set nameBtn = 'btn_edit_and_show' %}
              {% endif %}
              <button class="btn btn-success btn-claim" type="submit" name="{{ nameBtn }}">NEXT
              </button>
          {% endblock %}
              </div>
      </div>
  {% endblock formactions %}