{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet"
                  href="{{ asset('themes/homer/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css') }}"/>
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('themes/homer/vendor/moment/moment.js') }}"></script>
            <script src="{{ asset('themes/homer/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js') }}"></script>
            <script type="text/javascript">
                $(function () {
                    $(".datepicker").datepicker({autoclose: true});
                });
            </script>
            <script type="text/javascript">
                $(function () {
                    // update claim categorry when claim type change
                    $claimType = $('.claim-type')
                    $claimType.change(function () {
                        var $form = $(this).closest('form');
                        var data = {};
                        data[$claimType.attr('name')] = $claimType.val();
                        $.ajax({
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            data: data,
                            success: function (html) {
                                $('.claim-category').replaceWith(
                                        $(html).find('.claim-category')
                                );
                            }
                        });
                    });
                    //update tax amount when claim amount or tax rate change
                    $('.claim-amount').change(function () {
                        getTaxAmount($(this));
                    });
                    $('.tax-rate').change(function () {
                        getTaxAmount($(this));
                    });
                    function getTaxAmount(selector) {
                        var href = selector.data('href');
                        var data = {};
                        data['claim-amount'] = $('.claim-amount').val();
                        data['tax-rate-id'] = $('.tax-rate').val();
                        $.ajax({
                            url: href,
                            type: 'POST',
                            data: data,
                            success: function (result) {
                                if (result.status) {
                                    $('.tax-amount').val(result.value);
                                }
                            }
                        });
                    }

                });

                $(function () {
                    $(".claim-images").on("change", function () {
                        var formData = new FormData();
                        formData.append('image', $(this)[0].files[0]);
                        var href = $(".claim-images").data('href');
                        $.ajax({
                            type: 'POST',
                            url: href,
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                console.log("success");
                                console.log(data);
                                var html = '<div class="col-md-2 col-sm-4 col-xs-4 claim-image-wrap"><img src ="' + data.urlImage + '"/><br><a href="' + data.urlDelete + '" class="delete-image-claim"><i class="fa fa-times" aria-hidden="true"></i></a> </div>';
                                $('.wrap-claim-images').append(html);
                            },
                            error: function (data) {
                                console.log("error");
                                console.log(data);
                            }
                        });
                    });
                    $("body").delegate("a.delete-image-claim", "click", function (e) {
                        e.preventDefault();
                        var href = $(this).attr('href');
                        var image = $(this).parent('div.claim-image-wrap');
                        $.ajax({
                            type: 'GET',
                            url: href,
                            success: function (data) {
                                console.log("success");
                                console.log(data);
                                image.remove();
                            },
                            error: function (data) {
                                console.log("error");
                                console.log(data);
                            }
                        });
                    });
                });

            </script>

            <script>


            </script>
        {% endblock %}
 {% block sonata_page_content_header %}

 {% endblock %}
{% block sonata_form_action_url %}
    {% if app.request.get('type') == 'onbehalf' %}
        {{ admin.generateUrl(url, {'id': admin.id(object),'type':'onbehalf','position-id':app.request.get('position-id'), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}
    {% else %}
        {{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}

    {% endif %}
{% endblock %}
            {% block sonata_tab_content %}

                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header" style="text-align: center">
                                <h4 class="box-title">
                                    {% set position = getInforUserClaim(app.request.get('position-id')) %}
                                    {{ position.firstName ~' '~ position.lastName }}
                                    <br>
                                    <small>{{ position.company.name }}</small>
                                    <p style="border-top: 1px solid black; margin-top: 10px;"></p>
                                    <small>Claims Period: {{ getCurrentClaimPeriod('from')| date('d M') }}
                                        – {{ getCurrentClaimPeriod('to')| date('d M') }}</small>
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if app.request.attributes.get('_route') == 'admin_app_claim_create' %}
                                        {{ form_row(form.claimType ,{'attr': {'class': 'claim-type'}}) }}
                                        {{ form_row(form.claimCategory,{'attr': {'class': 'claim-category'}}) }}
                                    {% elseif app.request.attributes.get('_route') == 'admin_app_claim_edit' %}
                                        <div class="row" style="margin: 0px;text-align: center;">
                                            <div class="col-md-3 col-sm-6 col-xs-12 wrap-take-photo">
                                                {{ form_widget(form.imageFromCamera,{'attr': {'accept':'image/*','capture':'camera','class': 'claim-images take-photo','data-href':path('admin_app_claim_uploadImage',{'id':object.id})}}) }}
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12 wrap-photo-library">
                                                {{ form_widget(form.imageFromLibrary,{'attr': {'accept':'image/*','class': 'claim-images photo-library','data-href':path('admin_app_claim_uploadImage',{'id':object.id})}}) }}
                                            </div>
                                        </div>

                                        <div class="row wrap-claim-images">
                                            {% for claimMedia in object.claimMedias %}
                                                <div class="col-md-2 col-sm-4 col-xs-4 claim-image-wrap">
                                                    <img src="{{ getUrlMedia(claimMedia.media,'default','default_small') }}"/><br>
                                                    <a href="{{ path('admin_app_claim_deleteImage',{'id':object.id,'mediaId':claimMedia.media.id}) }}"
                                                       class="delete-image-claim"><i class="fa fa-times"
                                                                                     aria-hidden="true"></i></a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {{ form_row(form.description) }}
                                        {{ form_row(form.claimAmount,{'attr': {'class': 'claim-amount','data-href':path('app_api_gettaxamount')}}) }}
                                        {{ form_row(form.receiptDate) }}
                                        {{ form_row(form.taxRate,{'attr': {'class': 'tax-rate','data-href':path('app_api_gettaxamount')}}) }}
                                        {{ form_row(form.taxAmount,{'attr': {'class': 'tax-amount'}}) }}
                                        {% if object.claimType.code == 'Overseas' %}
                                            {{ form_row(form.currencyExchange) }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endblock %}
  {% block formactions %}
      <div class="row" style="text-align: center;margin: 15px;">
          <div class="col-md-12 well">
              {% block sonata_form_actions %}
                  {% if app.request.attributes.get('_route') == 'admin_app_claim_create' %}
                      {% if app.request.get('position-id') is not null %}
                          {% set nameBtn = 'btn_create_and_edit_onbehalf' %}
                      {% else %}
                          {% set nameBtn = 'btn_create_and_edit' %}
                      {% endif %}
                  {% else %}
                      {% if app.request.get('position-id') is not null %}
                          {% set nameBtn = 'btn_edit_and_show_onbehalf' %}
                      {% else %}
                          {% set nameBtn = 'btn_edit_and_show' %}
                      {% endif %}
                  {% endif %}
                  <button class="btn btn-success btn-claim" type="submit" name="{{ nameBtn }}">NEXT
                  </button>
              {% endblock %}
          </div>
      </div>
  {% endblock formactions %}