{% if app.request.get('type') == 'checking' %}
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_app_claim_list', {'type':'checking-each-position','position-id':object.id,'filter': admin.filterParameters}) }}">View
        Claims Of This User</a>
{% elseif app.request.get('type') == 'checker-history' %}
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_app_checkerhistory_list', {'type':'checker-history-each-position','position-id':object.id,'filter': admin.filterParameters}) }}">View
        Claims Of This User</a>
{% elseif app.request.get('type') == 'approving' %}
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_app_claim_list', {'type':'approving-each-position','position-id':object.id,'filter': admin.filterParameters}) }}">View
        Claims Of This User</a>
{% elseif app.request.get('type') == 'approver-history' %}
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_app_approverhistory_list', {'type':'approver-history-each-position','position-id':object.id,'filter': admin.filterParameters}) }}">View
        Claims Of This User</a>
{% elseif app.request.get('type') == 'hr' %}
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_app_claim_list', {'type':'hr-each-position','position-id':object.id,'filter': admin.filterParameters}) }}">Detail</a>
{% elseif app.request.get('type') == 'hr-reject' %}
    <a class="btn btn-sm btn-default"
       href="{{ path('admin_app_claim_list', {'type':'hr-reject-each-position','position-id':object.id,'filter': admin.filterParameters}) }}">Detail</a>
{% endif %}