{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <section class="content">


        <div class="row">
            <div class="col-xs-12 col-md-12">

                    <div class="box box-primary" style="margin-bottom: 100px;">
                        <div class="box-body table-responsive no-padding">


                            <table class="table table-bordered table-striped sonata-ba-list">
                                <thead>
                                <tr class="sonata-ba-list-field-header">

                                    <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                        Modifier
                                    </th>
                                    <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                        Code
                                    </th>
                                    <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                        Description
                                    </th>
                                    <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                        Ex Rate
                                    </th>
                                    <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">
                                        Effective Date
                                    </th>

                                </tr>
                                </thead>

                                <tbody>

                                    {% for history in histories %}
                                    <tr>

                                        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                            {{ history.user.username }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                            {{ history.code }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                            {{ history.description }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                            {{ history.exRate }}
                                        </td>
                                        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="1">
                                            {{ history.effectiveDate|date('m/d/Y') }}
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    {% if histories|length == 0 %}
                                        <tr><td colspan="5">No Result Found</td></tr>
                                        {% endif %}


                                    <!-- END - fieldName: _action -->
                                </tbody>

                            </table>


                        </div>
                    </div>
            </div>

        </div>

    </section>
{% endblock %}