{% extends 'AppBundle::layout.html.twig' %}
{% block content %}

<section class="main-container" data-homepage="">

    <div class="container">
        <div class="row">
            <div class="main col-md-8">

                <form action="{{ path('app_front_search_spaces') }}" role="form" method="get" class="form-search-spaces">
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input type="text" value="{{ app.request.get('location') }}" name="location"  class="form-control" id="search-space-input">
                        <input type="hidden" name="lat" id="lat">
                        <input type="hidden" name="lng" id="lng">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Date From</label>
                                <input type="text" value="{{ app.request.get('from') }}" name="from"  class="form-control datepicker">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Date To</label>
                            <div class="form-group">
                                <input type="text" value="{{ app.request.get('to') }}" name="to"  class="form-control datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" {{ app.request.get('daily') == 1 ? 'checked' }} name="daily" value="1">
                                    <label for="">Daily</label>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" {{ app.request.get('weekly') == 1 ? 'checked' }} name="weekly" value="1">
                                    <label for="">Weekly</label>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="checkbox" {{ app.request.get('monthly') == 1 ? 'checked' }} name="monthly" value="1">
                                    <label for="">Monthly</label>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="layout-slider" style="width: 100%">
                        Feet Square <span style="display: inline-block; width: 400px; padding: 0 5px;">
                                    <input id="Slider1" type="slider" name="square" value="{{ app.request.get('square') is null ? '50;200':app.request.get('square') }}" />
                                </span>
                    </div>
                    <div class="layout-slider" style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
                        Price Range <span style="display: inline-block; width: 400px; padding: 0 5px;">
                                    <input id="Slider2" type="slider" name="price" value="{{ app.request.get('price') is null ? '100;500':app.request.get('price') }}" />
                                </span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</section>

{% endblock %}